@keyframes rainbow_animation {
  0%{color: #FF0000; color: linear-gradient(0deg, red, green, blue);}
	33%{color: #00FF00; color: linear-gradient(120deg, green, blue, red);}
	66%{color: #0000FF; color: linear-gradient(240deg, blue, red, green);}
	100%{color: #FF0000; color: linear-gradient(360deg, red, green, blue);}
}

html { 
    background-color: #000000;
    height: 100%
}

div {
  display: flex;
  justify-content: center;
}

h1 {
  animation-name: rainbow_animation;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
